.loco{
    display: flex;
    width: 70%;
    flex-direction: column;
    margin: 20% 10%;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5%;
}

.pacchi{
    border-radius: 8px;
    margin: 5% 0;
}

.boton{
    margin: 5% 0;
    border-radius: 20px;
    padding: 8px;
    color: white;
    background-color: blue;
}

.boton:hover{
    background-color: green;
}